# Scraping Steps for Mars App

In [1]:
# Dependencies

from bs4 import BeautifulSoup as bs
import pandas as pd

from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Executable path

executable_path = {"executable_path": ChromeDriverManager().install()}

browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/89.0.4389.23/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/seltsam/.wdm/drivers/chromedriver/mac64/89.0.4389.23]

## NASA website

In [8]:
# Url to be scraped (NASA Mars News Site)
url = "https://mars.nasa.gov/news/"

# Direct browser to nasa page
browser.visit(url)

# Save html from browser to variable
html = browser.html

# Create Beautiful soup object and parse
soup = bs(html, "html.parser")

# Retrieve results for most recent title (top most article)
results = soup.select_one("ul.item_list li.slide")

# Save first title as title variable
title = results.find("div", class_="content_title").text

# Save first paragraph of article as paragraph variable
paragraph = results.find("div", class_="article_teaser_body").text

# Print results to console for testing
print(title)
print()
print(paragraph)

NASA's Perseverance Mars Rover Mission Honors Navajo Language

Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.

## JPL website

In [23]:
# Url to be scraped for image (Jet Propulsion Laboratory, California Institute of Technology)
url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"

# Direct browser to JPL page
browser.visit(url)

# Save html from browser to variable
html = browser.html

# Create Beautiful soup object and parse
soup_image = bs(html, "html.parser")

# Click on "full image" to get larger pic
full_image = soup_image.find("a", class_="showimg fancybox-thumbs")

# Save relative url of image with base url into variable
featured = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/" + full_image["href"]

# Print to console for testing
print(featured)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg

## Space Facts website

In [28]:
# Convert html with pandas
df = pd.read_html("https://space-facts.com/mars/")

# Select first dataframe in list
mars_df = df[0]

# Display
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
# Cleaning dataframe

# Name columns
mars_df.columns=["Description", "Mars"]

# Set first column as index
mars_df.set_index("Description", inplace=True)

# Display
mars_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
# Convert dataframe to html

df.to_html()